<h2>Vol</h2>
<table class="table table-striped">
  <thead class="thead-light">
  <tr>
    <th scope="col">Flight Number</th>
    <th scope="col">Depature</th>
    <th scope="col">Arrival</th>
    <th scope="col">Alternate</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @object_json.general.icao_airline+@object_json.general.flight_number %></td>
    <td><%= @object_json.origin.icao_code %></td>
    <td><%= @object_json.destination.icao_code %></td>
    <td><%= @object_json.alternate.icao_code %></td>
  </tr>
  <th>Route</th>
  <tr>
    <td colspan="4">
      <%= @object_json.atc.route_ifps %>
    </td>
  </tr>
  </tbody>
</table>
<h2>Navlog</h2>
<table class="table table-striped">
  <thead class="thead-light">
  <tr>
    <th scope="col">Fix</th>
    <th scope="col">Altitude (ft)</th>
    <th scope="col">Est. Total Time</th>
    <th scope="col">Real Total Time</th>
    <th scope="col">Est. Fuel Burn</th>
    <th scope="col">Real Fuel Burn</th>
    <th scope="col">Est. Fuel Onboard</th>
    <th>Check ?</th>
  </tr>
  </thead>
    <tbody>
<% @object_json.navlog.fix.each do |fix| %>
    <tr>
      <td><div class="col-md-6"><%= fix.ident %></div></td>
      <td><div class="col-md-6"><%= fix.altitude_feet %></div></td>
      <td><div class="col-md-6"><%= seconds_to_hm(fix.time_total.to_i) %></div></td>
      <td><div class="col-md-6"><input type="email" class="form-control" id="floatingInputValue" placeholder="" value="<%= seconds_to_hm(fix.time_total.to_i) %>"></textarea></div></td>
      <td><div class="col-md-6"><%= fix.fuel_totalused %></div></td>
      <td><div class="col-md-6"><input type="email" class="form-control" id="floatingInputValue" placeholder="" value="<%= fix.fuel_totalused %>"></textarea></div></td>
      <td><div class="col-md-6"><%= fix.fuel_plan_onboard %></div></td>
      <td> <div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"></div></td>
    </tr>
<% end %>
  </tbody>
</table>
